.expense-tracker {
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: #023047;
}

.expense-tracker h1 {
    font-size: 40px;
}

.expense-tracker button {
    margin-left: 10px;
}

.transactions {
    margin-left: 43px;
    margin-top: 20px;
    padding-left: 10px;
    width: 400px;
    height: 400px;
    border: 3px solid #023047;
}