@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.expense-tracker {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: white;
}

.expense-card{
    display: flex;
}

.container h1{
    margin-left: 30px;
    margin-top: 20px;
}
.container .balance{
    display: inline-block;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 40px;
    margin: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.container .income{
    display: inline-block;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 40px;
    margin: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.container .expenses{
    display: inline-block;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 40px;
    margin: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}
form .typeRadio{
    display: inline-block;
    margin: 10px;
}
.expense-tracker .signOut{
    height: 20px;
}